.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.listItem {
  max-width: calc((100% - 3 * 10px) / 4);
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}
